{% extends 'base.html.twig' %}

{% block body %}
    <h1>Merci pour votre achat !</h1>
    <p>{{ message }}</p>
    <a href="{{ path('app_products') }}" class="btn">Retour à la boutique</a>
{% endblock %}
